/*
	Helios Calendar - Professional Event Management System
	Copyright © 2004-2008 Refresh Web Development [www.RefreshMy.com]
	
	Developed By: Chris Carlevato <support@refreshmy.com>
	
	For the most recent version, visit the Helios Calendar website:
	[www.HeliosCalendar.com]
	
	This file is part of Helios Calendar, usage governed by 
	the Helios Calendar EUL found at www.HeliosCalendar.com/license.pdf
*/

/*	Helios Default Template Classes
	You can edit this file however you'd like for your template,
	or create a new one and delete it.	*/
	
html, body {
	margin: 0;
	padding: 0px 0 10px 0;
	background: #EFEFEF;
	color: #000000;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	}
#container {
	margin: auto auto auto auto ; 
	width: 800px; 
	padding: 0;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	color: #000000;
	}
#content {
	float: left; 
	text-align: left; 
	padding: 5px;
	width: 72%;
	}
#controls {
	float: left;
	padding: 0px 5px 5px 5px;
	width: 25%;
	}
#language {
	text-align: center;
	padding: 10px 0 15px 0;
	}
#billboard,
#popular {
	text-align: left;
	padding: 10px 0 10px 0;
	}
#rssLinks {
	width: 760px; 
	padding: 0;
	margin: auto auto auto auto ; 
	
	}
#copyright {
	clear: both; 
	color: #666666;
	background: #FFFFFF;
	padding: 5px 0px 5px 15px;
	line-height: 17px;
	}
a.copyright,
a.copyrightR {
	text-decoration: none;
	color: #666666;
	background: #FFFFFF;
	}
a.copyright:hover {
	text-decoration: underline;
	color: #FF6600;
	background: #FFFFFF;
	}
a.copyrightR:hover {
	text-decoration: underline;
	color: #006532;
	background: #FFFFFF;
	}
.setupText{
	font-family: Verdana, sans-serif;
	font-size: 11px;
    border-top: 1px solid #555; 
    border-left: 1px solid #555; 
    border-bottom: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    padding: 1px; 
    color: #333; 
	vertical-align: center;
	}
#twitter_div{border: solid 1px #CCCCCC;}
.twitter-title{font-size:11px;padding-left:5px;}
#twitter_update_list{padding:0px;list-style:none;}
#twitter_update_list li{padding:5px 5px 5px 5px;}