/*
	Helios Calendar - Professional Event Management System
	Copyright © 2006 Refresh Web Development [http://www.refreshwebdev.com]
	
	Developed By: Chris Carlevato <chris@refreshwebdev.com>
	
	For the most recent version, visit the Helios Calendar website:
	[http://www.helioscalendar.com]
	
	License Information is found in docs/license.html
	
	This file contains certain IE specific "fixes" to ensure
	consistancy of experience across browser types.
*/

/*	Begin Mini-Calendar Classes
	*/
td.miniCalNav {
	cursor: hand;
	}
td.miniCal {
	cursor: hand;
	}
td.miniCalToday {
	cursor: hand;
	}
td.miniCalToday:hover {
	cursor: hand;
	}
td.miniCalEvents {
	cursor: hand;
	}
td.miniCalEvents:hover {
	cursor: hand;
	}
td.miniCalFiller {
	cursor: hand;
	}
/*	End Mini-Calendar Classes
	*/