/*
	Helios Calendar - Professional Event Management System
	Copyright © 2007 Refresh Web Development [http://www.refreshwebdev.com]
	
	Developed By: Chris Carlevato <chris@refreshwebdev.com>
	
	For the most recent version, visit the Helios Calendar website:
	[http://www.helioscalendar.com]
	
	License Information is found in docs/license.html
*/

#menu ul{display: block;list-style-type: none;margin: 0;padding-left: 0px;text-align: left;}
#menu ul li{display: block;float: left;border-left: 3px solid #AEAEAE;}
#menu ul li:hover{border-left: 3px solid #3D3F3E;}
a.eventMain{text-decoration: underline;color: #3D3F3E;}
a.eventMain:hover{text-decoration: none;color: #FF6600;}
a.eventMenu{text-decoration: none;font-weight: bold;font-size: 12px;color: #3D3F3E;padding-left: 3px;padding-right: 7px;}
a.eventMenu:hover{text-decoration: none;font-size: 12px;background-color: #FF6600;color: #FFFFFF;padding-left: 3px;padding-right: 7px;}
img{border: 0;}
ul.billboard,ul.popular,ul.rssLinks{list-style-type: none;margin: 0;padding: 0px;}
li.billboardDate,li.popularDate{font-weight: bold;}
li.billboard,li.popular{padding-left: 5px;padding-top: 5px;}
a.billboard,a.popular{text-decoration: underline;color: #3D3F3E;}
a.billboard:hover,a.popular:hover{text-decoration: none;color: #FF6600;}
img.controlPanel{padding-bottom: 5px;vertical-align: middle;}
a.controlPanel{text-decoration: none;font-weight: bold;line-height: 25px;color: #FF6600;}
a.controlPanel:hover{text-decoration: none;color: #3D3F3E;}
#nav-top,#nav-bottom{clear: both;text-align: right;padding-top: 7px;}
.eventDateTitle{clear: both;font-size: 13px;font-weight: bold;border-bottom: 1px solid #3D3F3E;color: #000000;padding: 10px 0px 0px 0px;}
.eventListTime{float: left;width: 130px;line-height: 20px;}
.eventListTimeHL{float: left;width: 130px;background: #EFEFEF;line-height: 20px;}
.eventListTitle{float: left;width: 383px;line-height: 20px;}
.eventListTitleHL{float: left;width: 383px;background: #EFEFEF;line-height: 20px;}
a.eventListTitle{text-decoration: underline;font-weight: bold;color: #3D3F3E;}
a.eventListTitle:hover{text-decoration: none;font-weight: bold;color: #FF6600;}
.eventReqTag{font-weight: bold;color: #DC143C;}
#eventDetailTitle{clear: both;font-size: 13px;font-weight: bold;border-bottom: 1px solid #3D3F3E;color: #000000;padding: 15px 0px 0px 0px;}
#eventDetailDesc{clear: both;color: #000000;padding: 0px 5px 10px 5px;}
.eventDetailDate,
.eventDetailPrice{font-size: 13px;font-weight: bold;color: #000000;}
.eventDetailDatePast{font-size: 13px;font-weight: bold;color: #DC143C;}
.eventDetailTime{color: #000000;padding-left: 10px;}
.locDetailHeader,
#eventDetailHeader{border-top: solid 1px #CCCCCC;font-size: 13px;font-weight: bold;line-height: 30px;}
#eventDetailInfo{float: left;padding-right: 13px;width: 250px;}
#eventDetailTools{float: left;width: 250px;}
.eventDetailToolbox{padding: 10px;border: 1px solid #666666;background: #EEEEEE;width: 200px;}
.eventDetailReg{padding: 10px;width: 200px;}
a.eventShare{text-decoration: none;line-height: 25px;padding: 0px 5px 0px 0px;color: #0000FF;}
img.eventDetailLink{line-height: 25px;padding-bottom: 5px;vertical-align: middle;}
a.eventDetailLink{text-decoration: underline;line-height: 25px;color: #3D3F3E;}
a.eventDetailLink:hover {text-decoration: none;line-height: 25px;color: #FF6600;}
a.eventDetailDates{text-decoration: underline;line-height: 20px;color: #3D3F3E;}
a.eventDetailDates:hover{text-decoration: none;line-height: 20px;color: #FF6600;}
#rssMenu ul{display: block;list-style-type: none;margin: 0;padding-left: 0px;text-align: left;}
#rssMenu ul li{line-height: 20px;}
.rssTitle{clear: both;font-weight: bold;padding: 12px 0px 3px 0px;}
div.rssSynd{display: block;float: left;width: 160px;text-align: center;padding: 5px 0px 5px 0px;}
a.rssSynd{text-decoration: none;line-height: 25px;}
img.rssReader{padding-bottom: 5px;vertical-align: middle;}
a.rssReader{font-weight: bold;text-decoration: none;line-height: 25px;color: #FF6600;}
a.rssReader:hover {text-decoration: none;font-weight: bold;line-height: 25px;color: #3D3F3E;}
#eventShare li{display: block;list-style-type: none;float: left;padding: 3px 12px 7px 12px;}
.button{padding: 0px 10px 0px 10px;color: #000000;}
.locDetails {width: 40%;min-width: 175px;float: left;padding: 0px 5px 0px 0px;}
#hc_Gmap{width: 95%;height: 250px;}
#hc_GmapLoc {float: left;width: 75%;height: 600px;}
#hc_GmapLocDetail {float: left;width: 50%;min-width: 300px;height: 250px;}
.GmapLocMenu{height: 20px;border-bottom: solid 1px #ACACAC;}
.GmapLocPane {width: 250px;height: 200px;overflow:auto;padding: 3px 0px 0px 0px;}
a.locMenu{text-decoration: underline;color: #0000FF;}
a.locMenu:hover{text-decoration: none;color: #666666;}
a.locListReset{text-decoration: none;font-weight: bold;color: #000000;vertical-align: middle;}
a.locListReset:hover{text-decoration: none;color: #FF6600;}
a.locList{text-decoration: underline;color: #000000;}
a.locList:hover{text-decoration: none;color: #FF6600;}
#locList ul{display: block;list-style-type: square;margin: 0;padding-left: 0px;}
#locList ul li{padding: 3px 0px 4px 0px;text-align: left;}
#locList{overflow: auto;float: left;width: 25%;height: 600px;}
img.locList{padding-bottom: 5px;vertical-align: middle;}
a.searchLoc{text-decoration: underline;font-size: 13px;color: #FF6600;}
a.searchLoc:hover{text-decoration: underline;font-size: 13px;color: #CCCCCC;}
.datePicker{position: absolute;visibility: hidden;background-color: white;layer-background-color: white;}
.tel {width: 200px;float: left;}
abbr{border: none;}
li.category{margin: 0;padding: 0;border: none;list-style: none;display: inline;}
a.email{text-decoration: underline;color: #3D3F3E;}
a.email:hover{text-decoration: none;color: #FF6600;}
fieldset{clear: both;border: none;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;}
legend{font-size: 12px;font-weight: bold;color: #FF6600;padding-bottom: 5px;background: transparent;margin: 1px;padding: 0px 10px 2px 10px;}
label{float: left;width: 100px;padding: 0px;text-align: right;} 
label.radio{padding: 0px;text-align: left;}
label.category{padding: 0px;text-align: left;width: 180px;}
fieldset div{margin-bottom: 5px;}
fieldset div input, textarea, select{border-top: 1px solid #555;border-left: 1px solid #555;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;padding: 1px;color: #333;vertical-align: center;font-size: 11px;}
input:focus, textarea:focus, select:focus{background: #efefef;color: #000;}
fieldset div.frmReq,fieldset div.frmReq input, textarea, select{font-weight: bold;}
fieldset div.frmOpt,fieldset div.frmOpt input, textarea, select{font-weight: normal;}
input[type="submit"],input[type="reset"],input[type="button"]{font-size: 11px;width: 150px;color: #000000;}
.miniCalTable{border-collapse: collapse;empty-cells: show;width: 175px;}
.miniCalTable td{cursor: pointer;text-align: center;}
.miniCalTitle{border: 1px solid #ACACAC;background-color: #EFEFEF;text-align: center;}
.miniCalJump{background-color: #EEEEEE;font-family: Verdana, sans-serif;border: 0px;color: #993300;}
.miniCalNav{font-size: 13px;font-weight: bold;border: 1px solid #ACACAC;background-color: #EEEEEE;color: #993300;}
.miniCalDOW{border: 1px solid #ACACAC;background-color: #EEEEEE;}	
.miniCal{background: #FFFFFF;border: 1px solid #ACACAC;}
.miniCalToday{font-weight: bold;background: #FF6600;border: 1px solid #ACACAC;}
.miniCalToday:hover{font-weight: bold;background: #FF6600;border: 1px solid #ACACAC;}
.miniCalEvents{border: 1px solid #ACACAC;background: #C8C8AC;}
.miniCalEvents:hover{text-align: center;border: 1px solid #ACACAC;background: #B8B89B;}
.miniCalFiller{border: 1px solid #ACACAC;background: #FFFFFF;}
.info{clear: both;font-weight: bold;padding: 3px;text-align: center;background: #EFEFEF;border: solid 2px #008E0D;}
.warning{font-weight: bold;padding: 3px;text-align: center;background: #EFEFEF;border: solid 2px #FFDA00;}
.error{font-weight: bold;padding: 3px;text-align: center;background: #EFEFEF;border: solid 2px #E40000;}
input.noBorderIE{border: 0px;}

/* Everything Below This Point
   Copyright 2006 Microsoft Corporation.  Microsoft's copyrights in this work are licensed under the Creative Commons
   Attribution-ShareAlike 2.5 License.  To view a copy of this license visit http://creativecommons.org/licenses/by-sa/2.5

   Modifications by Christopher L. Carlevato for Helios Calendar
   Original Unmodified File Available at: http://www.liveclipboard.org/	*/
.CopyPasteInput {position: absolute;overflow: hidden;width: 16px;height: 16px;padding: 0px;z-index: 100;cursor: pointer;filter: alpha(opacity=0);KHTMLOpacity: 0;MozOpacity: 0;opacity: 0;}
.ControlContainer {position: relative;overflow: hidden;float: left;width: 16px;height: 16px;padding: 4px 0px 0px 0px;float: left;}
.webClipControlDiv {background: url(../includes/liveclipboard/liveClipIconUnselected.png) left top no-repeat;width:16px;height:16px;z-index:99;}
.webClipControlSelectedDiv {background: url(../includes/liveclipboard/liveClipIconSelected.png) left top no-repeat;width:16px;height:16px;z-index:99;}