/*
	Helios Calendar - Professional Event Management System
	Copyright © 2004-2009 Refresh Web Development [www.RefreshMy.com]
	
	For the most recent version, visit the Helios Calendar website:
	[www.HeliosCalendar.com]
	
	This file is part of Helios Calendar, usage governed by the Helios Calendar SLA
*/
rss{display: block;font-family: Verdana, sans-serif;font-size: 12px;color: #000000;}
title{display: block;font-family: Verdana, sans-serif;font-size: 11px;margin: 5px;padding: 2px;border-bottom: 1px solid #666666;}
link{display: block;font-family: Verdana, sans-serif;font-size: 11px;padding-left: 10px;}
description{display: block;font-family: Verdana, sans-serif;font-size: 11px;padding: 10px 0px 0px 10px;}
item{display: block;font-family: Verdana, sans-serif;font-size: 11px;padding: 2px 20px 2px 20px;}
docs{display: block;font-family: Verdana, sans-serif;font-size: 11px;background-color: #EFEFEF;margin: 20px;text-align: center;padding: 5px;color: #000000;border: solid 1px #666666;}
copyright,generator,language,guid,pubDate,comments{display: none;}