/*
	Helios Calendar - Professional Event Management System
	Copyright © 2004-2008 Refresh Web Development [www.RefreshMy.com]
	
	Developed By: Chris Carlevato <support@refreshmy.com>
	
	For the most recent version, visit the Helios Calendar website:
	[www.HeliosCalendar.com]
	
	This file is part of Helios Calendar, usage governed by 
	the Helios Calendar EUL found at www.HeliosCalendar.com/license.pdf
*/
body{font-family: Verdana, sans-serif;font-size: 11px;margin: 0px;padding: 0px;}
#container{background: url('images/mnuBg.gif');background-repeat: repeat-x;margin: auto;padding: 0px;}
#menu{width: 830px;margin: auto;}
#content{width: 830px;padding: 0px;margin: auto;clear: both;}
#cMain{float: left;width: 70%;padding: 3px;}
#cSub{float: left;width: 25%;padding: 0px 0px 0px 5px;text-align: center;}
#login{margin: auto;width: 300px;padding: 15px;border: 1px solid #3D3F3E;background: #EFEFEF;}
.loginform{font-weight: bold;background: url('images/logoLogin.png');background-repeat: no-repeat;padding: 65px 0px 0px 0px;}
.footer{clear: both;font-size: 10px;color: #777777;padding: 20px 0px 0px 0px;}
.eventListDate{clear: both;font-weight: bold;border-bottom: 1px solid #000000;padding: 7px 0px 0px 0px;}
.eventListTime{float: left;width: 130px;line-height: 20px;clear:both;}
.eventListTimeHL{margin: auto;float: left;width: 130px;line-height: 20px;background: #EFEFEF;clear:both;}
.eventListTitle,.recentTitle{float: left;width: 300px;line-height: 20px;}
.eventListTitleHL,.recentTitleHL{margin: auto;float: left;width: 300px;line-height: 20px;background: #EFEFEF;}
.eventListCheckbox{float: left;width: 35px;line-height: 20px;text-align: right;}
.eventListCheckboxHL{float: left;width: 35px;line-height: 20px;text-align: right;background: #EFEFEF;}
.billboardList,.pendingList,.orphanList,.categoryList,.userList,.newsletterList,.adminList,.mostPopularList,.recentList,.locList{clear: both;font-weight: bold;border-bottom: solid 1px #000000;padding: 10px 0px 0px 0px;line-height: 18px;}
.billboardListTitle,.pendingListTitle,.orphanListTitle,.newsletterTitle,.mostPopularTitle,.locName{float: left;width: 350px;line-height: 20px;}
.billboardListTitleHL,.pendingListTitleHL,.orphanListTitleHL,.newsletterTitleHL,.mostPopularTitleHL,.locNameHL{float: left;width: 350px;line-height: 20px;background: #EFEFEF;}
.billboardListDate,.pendingListDate,.orphanListDate,.locStatus{float: left;width: 125px;line-height: 20px;}
.billboardListDateHL,.pendingListDateHL,.orphanListDateHL,.locStatusHL{float: left;width: 125px;line-height: 20px;background: #EFEFEF;}
.eventListTools,.pendingListTools,.orphanListTools,.categoryListTools,.userListTools,.newsletterTools,.adminTools,.mostPopularDate,.mostPopularTools,.recentDateA,.recentDateO,.recentTools,.locTools{float: left;width: 75px;line-height: 20px;text-align: center;}
.eventListToolsHL,.pendingListToolsHL,.orphanListToolsHL,.categoryListToolsHL,.userListToolsHL,.newsletterToolsHL,.adminToolsHL,.mostPopularDateHL,.mostPopularToolsHL,.recentDateAHL,.recentDateOHL,.recentToolsHL,.locToolsHL{float: left;width: 75px;line-height: 20px;text-align: center;background: #EFEFEF;}
.billboardListTools,.billboardListViews,.mostPopularViews{float: left;width: 36px;line-height: 20px;text-align: center;}
.billboardListToolsHL,.billboardListViewsHL,.mostPopularViewsHL{float: left;width: 36px;line-height: 20px;text-align: center;background: #EFEFEF;}
.categoryListTitle,.userListName,.adminName{float:left;width: 200px;line-height: 20px;}
.categoryListTitleHL,.userListNameHL,.adminNameHL{both;float:left;width:200px;line-height:20px;background:#EFEFEF;}
.userListEmail,.adminEmail{float:left;width:300px;line-height: 20px;}
.userListEmailHL,.adminEmailHL{float:left;width:300px;line-height: 20px;background:#EFEFEF;}
.userListEmailHL,.adminEmailHL{float:left;width:300px;line-height:20px;background:#EFEFEF;}
.overviewDetails{float: left;width: 440px;line-height: 20px;}
.overviewDetailsHL{float: left;width: 440px;line-height: 20px;background: #EFEFEF;}
.overviewCount{float: left;width: 110px;line-height: 20px;text-align: right;}
.overviewCountHL{float: left;width: 110px;line-height: 20px;text-align: right;background: #EFEFEF;}
.overviewAverage,.overviewTotal{float: left;width: 55px;line-height: 20px;text-align: right;}
.overviewAverageHL,.overviewTotalHL{float: left;width: 55px;line-height: 20px;text-align: right;background: #EFEFEF;}
.overviewDetailS{float: left;width: 415px;line-height: 20px;}
.overviewDetailSHL{float: left;width: 415px;line-height: 20px;background: #EFEFEF;}
.overviewDate{float: left;width: 80px;line-height: 20px;}
.overviewDateHL{float: left;width: 80px;line-height: 20px;background: #EFEFEF;}
.overviewDetailS2{float: left;width: 390px;line-height: 20px;}
.overviewDetailS2HL{float: left;width: 390px;line-height: 20px;background: #EFEFEF;}
.overviewName{float: left;width: 170px;line-height: 20px;}
.overviewNameHL{float: left;width: 170px;line-height: 20px;background: #EFEFEF;}
.overviewEmail{float: left;width: 300px;line-height: 20px;}
.overviewEmailHL{float: left;width: 300px;line-height: 20px;background: #EFEFEF;}
a.main{color: #3D3F3E;}
a.main:hover{text-decoration: none;color: #FF6600;}
a.eventMain{color: #3D3F3E;}
a.eventMain:hover{text-decoration: none;color: #FF6600;}
a.copyright{text-decoration: none;font-size: 10px;color: #777777;}
a.copyright:hover{text-decoration: underline;font-size: 10px;color: #006532;}
.instructions{border: solid #BDBDBD 1px;background-color: #EFEFEF;padding: 5px;}
.datePicker{position: absolute;visibility: hidden;background-color: #FFFFFF;}
fieldset{clear: both;border: none;border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;}
fieldset legend{font-weight: bold;color: #000000;background: transparent;margin: 1px;padding: 0px 10px 2px 10px;}
fieldset label{float: left;width: 100px;padding: 2px 10px 0px 0px;text-align: right;}
fieldset label.radio{padding: 0px;text-align: left;}
fieldset label.radioWide{float: left;width: 200px;padding: 0px 10px 0px 0px;text-align: left;}
fieldset label.category{padding: 0px;text-align: left;width: 175px;}
fieldset label.captcha{padding: 0px;text-align: left;width: 190px;}
fieldset label.settingsLabel{padding: 0px 5px 0px 0px;text-align: left;width: 175px;line-height: 20px;text-align:right;}
fieldset label.adminEditLabel{padding: 0px;text-align: left;width: 110px;line-height: 20px;text-align:right;}
fieldset label.adminEditRadio{float: left;width: 95px;padding: 0px 5px 0px 0px;text-align: left;}
fieldset div{ margin-bottom: 7px;}
fieldset div input, textarea, select{font-family: Verdana, sans-serif;font-size: 11px;border-top: 1px solid #555555;border-left: 1px solid #555555;border-bottom: 1px solid #cccccc;border-right: 1px solid #cccccc;padding: 1px;color: #333;}
fieldset input:focus, textarea:focus, select:focus{background: #efefef;color: #000000;border-top: 1px solid #93B9DD;border-left: 1px solid #93B9DD;border-bottom: 1px solid #A2BBD3;border-right: 1px solid #A2BBD3;}
div.frmReq,div.frmReq input, textarea, select{font-weight: bold;}
div.frmOpt,div.frmOpt input, textarea, select{font-weight: normal;}
div.frmReq,div.frmOpt{clear:both;}
input[type="submit"],input[type="reset"],input[type="button"]{font-size: 11px;color: #000000;}
input[type="radio"],input[type="checkbox"]{padding-left: 0px;text-align: left;vertical-align: middle;font-size: 11px;}
.loginInput{width: 275px;font-size: 13px;border-top: 1px solid #555555;border-left: 1px solid #555555;border-bottom: 1px solid #cccccc;border-right: 1px solid #cccccc;padding: 2px;color: #333333;}
.loginInput:focus{background:#FFFFFF;border-top: 1px solid #93B9DD;border-left: 1px solid #93B9DD;border-bottom: 1px solid #A2BBD3;border-right: 1px solid #A2BBD3;}
.loginButton{font-weight: normal;padding: 1px 0px 1px 0px;width: 150px;}
.button{font-size:11px;padding: 0px 10px 0px 10px;color: #000000;}
.tblListHL{background: #EFEFEF;}
.info{clear: both;font-weight: bold;padding: 3px;text-align: center;background: #EFEFEF;border: solid 2px #008E0D;}
.warning{font-weight: bold;padding: 3px;text-align: center;background: #EFEFEF;border: solid 2px #FFDA00;}
.error{font-weight: bold;padding: 3px;text-align: center;background: #EFEFEF;border: solid 2px #E40000;}
.menu{list-style-type:none;margin:0px;padding:0px;}
.menu li{display:block;float:left;padding:0px;}
.menu li:hover ul{display:block;}
.menu li a{text-align:center;padding:0px 0px 0px 9px;text-decoration: none;font-weight: bold;display: block;color: #3D3F3E;}
.menu li span{margin:auto;display:block;padding: 3px 10px 5px 0px;}
.menu li:hover a.MenuLink{background-image:url('images/menu/tabLeft.png');background-repeat:no-repeat;background-position:top left;}
.menu li:hover a.MenuLink span{background-image:url('images/menu/tabFull.png');background-repeat:no-repeat;background-position:top right;}
.menu li a.menuNoSub:hover{color:#FFFFFF;}
.subMenu{margin:auto;display:none;padding:0px;position:absolute;font-size:11px;width:150px;background-color:#f7f7f7;border-left:solid #3D3F3E 1px;border-right:solid #3D3F3E 1px;border-bottom:solid #3D3F3E 1px;}
.subMenu li{width:150px;float:none;}
.subMenu li a{display:block;text-decoration:none;text-align:left;font-weight:normal;background:#f7f7f7;padding:3px 10px 3px 5px;color:#3D3F3E;}
.subMenu li a.subMenuLink{color:#3D3F3E;}
.subMenu li a.subMenuLink:hover{color:#FFFFFF;background-color:#ff7901;}
.menu li ul li a.subMenuHeader,
.menu li ul li a.subMenuHeader:hover{font-weight:bold;padding-top:7px;text-decoration:none;}
input.noBorderIE{border: 0px;}
#eventful{background-image: url('images/logos/eventful.gif');background-repeat: no-repeat;background-position: top right;width: 100%;padding: 0px;}
label.locSearch1{line-height:20px;width:400px;text-align:left;}
label.locSearch0{line-height:20px;width:400px;text-align:left;background:#EFEFEF;}

/* Everything Below This Point
   Copyright 2006 Microsoft Corporation.  Microsoft's copyrights in this work are licensed under the Creative Commons
   Attribution-ShareAlike 2.5 License.  To view a copy of this license visit http://creativecommons.org/licenses/by-sa/2.5

   Modifications by Christopher L. Carlevato for Helios Calendar
   Original Unmodified File Available at: http://www.liveclipboard.org/*/
.CopyPasteInput{position: absolute;overflow: hidden;width: 16px;height: 16px;padding: 0px;z-index: 100;cursor: pointer;filter: alpha(opacity=0);KHTMLOpacity: 0;MozOpacity: 0;opacity: 0;}
.ControlContainer{position: relative;overflow: hidden;float: left;width: 16px;height: 16px;padding: 4px 0px 0px 0px;float: left;}
.webClipControlDiv{background: url(../events/includes/liveclipboard/liveClipIconUnselected.png) left top no-repeat;width:16px;height:16px;z-index:99;}
.webClipControlSelectedDiv{background: url(../events/includes/liveclipboard/liveClipIconSelected.png) left top no-repeat;width:16px;height:16px;z-index:99;}