/**
 * @package Helios Calendar
 */

div.iw {width:300px;height:230px;margin:0;padding:0;overflow:hidden;}
div.iw_menu {width:100%;height:20px;margin:0 0 7px 0;padding:3px 0 3px 5px;}
div.iw_menu img {float:left;margin:2px 3px 0 3px;}
#mapquest_aerial, #mapquest_aerial a {color:#FFFFFF;}
.olControlAttribution {font-size: smaller; left: 2px; bottom: 5px; position: absolute; display: block;padding:1px 5px 1px 5px;}
.olControlScale {right: 5px;bottom: 0px;display: block;position: absolute;font-size: smaller;}
.olControlLayerSwitcher input {clear:both;float:left;margin:2px 5px 2px 0;}
.olControlLayerSwitcher span {float:left;padding:3px 0 0 0;}
.dataLbl {clear:both;float:left;margin:5px 0 2px 0;padding:0;}
.layersDiv {background: #666666;}
.olPopupCloseBox {background: url(../img/ol/close.gif) no-repeat top left;margin:0;padding:0;cursor:pointer;}
.olPopupCloseBox:hover {background: url(../img/ol/close-hover.gif) no-repeat top left;margin:0;padding:0;cursor:pointer;}
.olPopup {overflow:inherit;}
.olPopup * {margin: 0px;padding:0px;font-size: 12px;}
.olPopup .olPopupContent {min-width:200px;background-color: #ffffff !important;padding: 1px !important;margin: 0px !important;font-size: 0.80em;}
.olPopup .olPopupContent h2 {font-size: small;text-align: center;padding: 2px 0px 2px 0px;margin: 0px 6px 0px 6px;text-transform:capitalize;}
.olPopup .olPopupContent table {border-collapse:collapse;overflow: auto;padding: 0px;}
.olPopupContent table td {padding: 4px;border: 1px solid #cccccc;}
.olLayerGoogleV3.olLayerGoogleCopyright {right: auto !important;}
.olLayerGoogleV3.olLayerGooglePoweredBy {bottom: 15px !important;}
.olControlScaleLine {display: block;position: absolute;right: 3px;bottom: 10px;font-size: xx-small;}
.olControlScaleLineBottom {border: solid 2px black;border-bottom: none;margin-top:-2px;text-align: center;}
.olControlScaleLineTop {border: solid 2px black;border-top: none;text-align: center;}
.olControlPanPanel {top: 10px;left: 5px;}  
.olControlPanPanel div {background-image: url(img/pan-panel.png);height: 18px;width: 18px;cursor: pointer;position: absolute;}
.olControlPanPanel .olControlPanNorthItemInactive {top: 0;left: 9px;background-position: 0 0;}
.olControlPanPanel .olControlPanSouthItemInactive {top: 36px;left: 9px;background-position: 18px 0;}
.olControlPanPanel .olControlPanWestItemInactive {position: absolute;top: 18px;left: 0;background-position: 0 18px;}
.olControlPanPanel .olControlPanEastItemInactive {top: 18px;left: 18px;background-position: 18px 18px;}
.olControlZoomPanel {top: 71px;left: 14px;}
.olControlZoomPanel div {background-image: url(img/zoom-panel.png);position: absolute;height: 18px;width: 18px;cursor: pointer;}
.olControlLayerSwitcher {position: absolute;top: 25px;right: 0;width: 20em;font-family: sans-serif;font-weight: bold;margin-top: 3px;margin-left: 3px;margin-bottom: 3px;font-size: smaller;color: white;background-color: transparent;}
.olControlLayerSwitcher .layersDiv {padding-top: 5px;padding-left: 10px;padding-bottom: 5px;padding-right: 75px;width: 100%;height: 150px;}
.olControlLayerSwitcher .layersDiv .baseLbl, .olControlLayerSwitcher .layersDiv .dataLbl {margin-top: 3px;margin-left: 3px;margin-bottom: 3px;}
.olControlLayerSwitcher .layersDiv .baseLayersDiv, .olControlLayerSwitcher .layersDiv .dataLayersDiv {padding-left: 10px;}
.olControlLayerSwitcher input, .olControlLayerSwitcher span {cursor:pointer;}
.olControlLayerSwitcher .maximizeDiv, .olControlLayerSwitcher .minimizeDiv {top: 5px;right: 0;cursor: pointer;}
.olControlNavToolbar div,.olControlEditingToolbar div {background-image: url("img/editing_tool_bar.png");background-repeat: no-repeat;margin: 0 0 5px 5px;width: 24px;height: 22px;cursor: pointer}